.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  @keyframes moveBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  background: linear-gradient(
    -145deg,
    #2c8973,
    // Warna asli Anda
    #004564,
    // Warna baru 1
    #002f45,
    // Warna baru 2
    #01362d // Warna baru 3
  );
  animation: moveBackground 15s ease infinite;
  background-size: 400% 400%;
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  flex-wrap: wrap;
  gap: 2.5rem;
  border-top: 1.3px solid rgba(255, 255, 255, 0.2);
  margin-bottom: -34px;
  overflow: hidden;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem 2rem 1.5rem 2rem;
    flex-wrap: nowrap;
    gap: 0.7rem;
  }

  @media (max-width: 480px) {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

.topLine {
  display: flex;
  flex-direction: row;
  order: 1;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    .footer__section {
      border-top: 1.3px solid rgba(255, 255, 255, 0.2);
      padding-top: 18px;
    }

    .footer__section_time {
      border-top: 1.3px solid rgba(255, 255, 255, 0.2);
      padding-top: 18px;
    }
  }
  .footer__section {
    flex: 1;
    min-width: 170px;
    width: 100%;
  }
}

.bottomLine {
  @media (max-width: 768px) {
    width: 100%;
  }

  order: 2;
  .footerBottom h4 {
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
    color: #aaa;
  }

  .footerBottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 0.9rem;
    min-width: 330px;
  }
}

.footer__section h4 {
  font-size: 0.6rem;
  margin-bottom: 0.7rem;
  color: #aaa;
}

p {
  font-size: 0.9rem;
}

.footer__section_time h4 {
  font-size: 0.6rem;
  margin-bottom: 0.7rem;
  color: #aaa;
}

.footer__section a:hover {
  color: cadetblue;
}
