.pageWrapper {
  min-height: 100vh;
  padding-top: calc(env(safe-area-inset-top) + 1%);
  padding-bottom: env(safe-area-inset-bottom);
}

.coaching-container {
  position: relative;

  z-index: 20;

  background-color: #fff7ed;
}

.parallax-wrapper {
  margin-top: -15vh;

  position: relative;

  z-index: 10;
}

.value {
  z-index: 10;
  @media (max-width: 768px) {
    margin-bottom: -10vh;
  }
}

.tech {
  @media (max-width: 900px) {
  }
  @media (max-width: 768px) {
    margin-top: 200px;
  }
}

.list {
  font-size: 30px;
  text-align: center;
  margin-bottom: -100px;
  padding-top: 20vh;
  color: white;
}
