.pageWrapper {
  left: -3px;

  padding-top: calc(env(safe-area-inset-top));

  padding-bottom: env(safe-area-inset-bottom);

  padding-left: calc(env(safe-area-inset-left));

  padding-right: calc(env(safe-area-inset-right));

  min-height: 100vh;
}

.coaching-container {
  position: relative;

  z-index: 20;

  background-color: #fff7ed;
}

.parallax-wrapper {
  margin-top: -15vh;

  position: relative;

  z-index: 10;
}

.value {
  z-index: 10;
  @media (max-width: 768px) {
    margin-bottom: -10vh;
  }
}

.bridge {
  background: #fff7ed;
  margin-top: -31vh;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  @media (max-width: 900px) {
  }
  @media (max-width: 768px) {
    height: 5vh;
  }
}

.tech {
  @media (max-width: 900px) {
  }
  @media (max-width: 768px) {
    margin-top: 300px;
  }
}

.list {
  font-size: 30px;
  text-align: center;
  margin-bottom: -100px;
  padding-top: 20vh;
  color: white;
}
