.page-transition {
  position: fixed;
  inset: 0;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  pointer-events: none;
  overflow: hidden;
  backdrop-filter: blur(8px);
  transition: backdrop-filter 0.6s ease;
  padding-top: calc(env(safe-area-inset-top) + 2%);
  padding-bottom: env(safe-area-inset-bottom);
}

.page-label {
  font-size: 3rem;
  color: white;
  font-weight: normal;
  mix-blend-mode: difference;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  animation: blink 0.8s step-end infinite;
  // animation: fadeIn 0.6s ease 0.4s forwards;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.page-content {
  position: relative;
  z-index: 1;
}

// @keyframes fadeIn {
//   to {
//     opacity: 1;
//   }
// }
