// CoachingApproach.scss

$font-main: 'Inter', sans-serif;
$color-dark: #002f45;
$color-gray: #444;
$bg-light: #fff;

.coaching-approach {
  max-width: 720px;
  margin: 80px auto;
  padding: 0 24px;
  font-family: $font-main;
  color: $color-dark;

  .heading {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 64px;
    letter-spacing: 0.5px;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .item {
      border-left: 3px solid $color-dark;
      padding-left: 24px;

      .item-title {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 12px;
        color: $color-dark;
      }

      .item-desc {
        font-size: 16px;
        line-height: 1.6;
        color: $color-gray;
      }
    }
  }
}
