html {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  background-color: rgb(37, 37, 41);
  color: #bcd4cc;
  margin-top: -32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;

  -webkit-scrollbar-track {
    scrollbar-width: none;
  }

  scrollbar-width: none; /* Untuk Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}
