html {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  background-color: rgb(37, 37, 41);
  color: #bcd4cc;
  margin-top: -32px;
}

// body::before {
//   content: '';
//   position: fixed; // Menempel ke LAYAR, bukan body
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: -1; // Letakkan di paling belakang

//   // PINDAHKAN EFEK TEMBUS ANDA KE SINI
//   background-color: rgba(
//     37,
//     37,
//     41,
//     0.5
//   ); // (Saya ganti dari putih ke $bg-color Anda)
//   backdrop-filter: blur(12px);
//   -webkit-backdrop-filter: blur(12px);
// }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;

  -webkit-scrollbar-track {
    scrollbar-width: none;
  }

  scrollbar-width: none; /* Untuk Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}
